*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


.msgcontainer{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.chatbody{
    padding-top: 20px;
    height: 85vh;
    background-image: url("https://img.freepik.com/free-vector/green-abstract-texture-background-with-watercolor_65186-2633.jpg?w=740&t=st=1675746121~exp=1675746721~hmac=491dbc6da3a0b601d13a7e3d6655cc46ecddff7dd6554c4b4cbcfa9de69e9176");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.msgcontainer input{
    height: 39px;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}